body{
  /* padding-top:80px; */
  word-wrap:break-word;
}
img{
  height: 100px;
}


* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.hidden{
  display: none;
}

/* nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

nav li {
  display: flex;
  flex-direction: row;
} */


nav{

}

nav li {
  /* display: inline; */

}

header{
  background: gray;
  outline: 5px solid black;
}

nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
}


.movie-data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* font-size: 1.2em; */
}

.drinks-data{
/* display: inline-block; */
  display: flex;
  justify-content: space-around;
}


.food-data{
/* display: inline-block; */
  display: flex;
  justify-content: space-around;
}


form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formContainer{
  width: 10%;
}

.event-data span{
   display: flex;
  flex-direction: column;
  justify-content: center;
}


header h1 {
  text-align: center;
}

body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-image: url(/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover
}

.formContainer{
  display: flex;
  align-self: center;
  outline: 3px solid grey;
  width: 40%;
  background: white;
}

.formContainer form{
  display: flex;
  align-self: center;
  /* outline: 3px solid grey; */
  width: 40%;
  margin-left: 225px;
  
}

.tblContain{
  width: 40%;
  display: flex;
  align-self: center;
  outline: 3px solid grey;
  background: white;
  flex-direction: column;
  margin-top: 10px;
}

.project-data {
  display: flex;
  justify-content: center;

  text-align: center;
  
}

.project-data li{
  display: flex;
  justify-content: center;

  text-align: center;
  
}

.project-data li span{
  display: flex;
  justify-content: center;

  text-align: center;
  margin-left: 150px;
}

.main{
  background: pink;
}

h3{
 background: white;
}

.wordBox{

}

*{
  border-radius: 5px;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: bolder;
  font-size: 3em; */
}

.white{
  background: white;
}

th, td, ul{
  border: 2px solid grey;
}